{% extends "core/layout.html" %}

{% block content %}
{% load static %}
<h1>Bug Verifications</h1>

<hr>

<div id='bug-verification-filter-row' class="row">
    <div class="row">
        <div class="col-auto">
            <label for="filter-start-date" class="col-form-lable">Start</label>
        </div>
        <div class="col-auto">
            <input class="form-control" type="date" id="filter-start-date" name="filter-start-date"
                value={% now "Y-m-d" %} min="2022-01-01" max="2122-12-31">
        </div>
        <div class="col-auto">
            <label for="filter-end-date" class="col-form-lable">End</label>
        </div>
        <div class="col-auto">
            <input class="form-control" type="date" id="filter-end-date" name="filter-end-date"
                value={% now "Y-m-d" %} min="2022-01-01" max="2122-12-31">
        </div>
        <div class="col-auto">
            <label for="filter-product" class="col-form-lable">Product</label>
        </div>
        <div class="col-auto">
            <select class="form-select" id="filter-product" name="filter-product">
                <option selected value="1">All</option>
                <option value="2">GMS-Dev</option>
                <option value="3">GMS 10.6</option>
                <option value="4">GMS-10.5</option>
                <option value="5">SMS-Dev</option>
                <option value="6">SMS-13.2</option>
            </select>
        </div>
        <div class="col-auto">
            <label for="filter-tag" class="col-form-lable">Tag</label>
        </div>
        <div class="col-auto">
            <select class="form-select" id="filter-tag" name="filter-tag">
                <option selected value="1">All</option>
                <option value="2">MODFLOW</option>
                <option value="3">SRH-2D</option>
                <option value="4">UGrid</option>
            </select>
        </div>
        <div class="col-auto">
            <button id="refresh-view-button" class="btn btn-info">Refresh</button>
        </div>
        <div class="col-auto">
            <button id="generate-report-button" class="btn btn-success">Generate Report</button>
        </div>
    </div>
</div>

<hr>

<div id='bug-verification-table-row' class="row">
    <table class="table table-hover">
        <thead>
            <tr>
                <th style="width: 5%;" scope="col">ID</th>
                <th style="width: 35%;" scope="col">Summary</th>
                <th style="width: 10%;" scope="col">Reported</th>
                <th style="width: 10%;" scope="col">Verified</th>
                <th style="width: 10%;" scope="col">Fixed</th>
                <th style="width: 10%;" scope="col">Tag</th>
                <th style="width: 20%;" scope="col">Product</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>000001</td>
                <td>Unexpected error comes up when closing compare simulation dialog</td>
                <td>06-11-2022</td>
                <td>06-19-2022</td>
                <td>06-20-2022</td>
                <td><span class="badge rounded-pill bg-category-pill">SRH-2D</span></td>
                <td>
                    <span class="badge rounded-pill bg-suite-pill">SMS-Dev</span>
                    <span class="badge rounded-pill bg-suite-pill">SMS-13.2</span>
                </td>
            </tr>
            <tr>
                <td>000002</td>
                <td>MODFLOW Didn't run correctly</td>
                <td>06-10-2022</td>
                <td>06-15-2022</td>
                <td>06-16-2022</td>
                <td><span class="badge rounded-pill bg-category-pill">MODFLOW</span></td>
                <td>
                    <span class="badge rounded-pill bg-suite-pill">GMS-Dev</span>
                </td>
            </tr>
            <tr>
                <td>000003</td>
                <td>UGrid display is incorrect</td>
                <td>06-10-2022</td>
                <td>06-15-2022</td>
                <td>06-16-2022</td>
                <td><span class="badge rounded-pill bg-category-pill">UGrid</span></td>
                <td>
                    <span class="badge rounded-pill bg-suite-pill">GMS-Dev</span>
                    <span class="badge rounded-pill bg-suite-pill">GMS-10.6</span>
                    <span class="badge rounded-pill bg-suite-pill">GMS-10.5</span>
                    <span class="badge rounded-pill bg-suite-pill">SMS-Dev</span>
                    <span class="badge rounded-pill bg-suite-pill">SMS-13.2</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}


{% block page_javascript %}
    {% if user.is_authenticated %}
        <script src="{% static 'testportal/js/bug_verification_general_view.js' %}"></script>
    {% endif %}
    
<script>
    $(document).ready(function() {
        $('#refresh-view-button').click(function() {
            alert('refreshing view...');
        });
    });
</script>

{% endblock %}