{% extends "core/layout.html" %}

{% block content %}
{% load static %}
<h1>Bug Verifications</h1>

<hr>

<div id='bug-verification-filter-row' class="row">
    <div class="row"style="padding-bottom: 15px;">
        <div class="col-auto">
            <label for="filter-start-date" class="col-form-lable">Start</label>
        </div>
        <div class="col-auto">
            <input class="form-control" type="date" id="filter-start-date" name="filter-start-date"
                value={{ start_day }} min="2022-01-01" max="2122-12-31">
        </div>
        <div class="col-auto">
            <label for="filter-end-date" class="col-form-lable">End</label>
        </div>
        <div class="col-auto">
            <input class="form-control" type="date" id="filter-end-date" name="filter-end-date"
                value={{ end_day }} min="2022-01-01" max="2122-12-31">
        </div>
        <div class="col-auto">
            <label for="filter-product" class="col-form-lable">Product</label>
        </div>
        <div class="col-auto">
            <select class="form-select" id="filter-product" name="filter-product">
                <option{% if not selected_product %} selected{% endif %} value="-1">All</option>
                {% for product in products %}
                <option{% if selected_product == product %} selected{% endif %} value="{{ product.id }}">{{ product }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto">
            <label for="filter-category" class="col-form-lable">Category</label>
        </div>
        <div class="col-auto">
            <select class="form-select" id="filter-category" name="filter-category">
                <option{% if not selected_category %} selected{% endif %} value="-1">All</option>
                {% for category in categories %}
                <option{% if selected_category == category %} selected{% endif %} value="{{ category.id }}">{{ category }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <label for="verification-search-box" class="form-lable">Search:</label>
        </div>
        <div class="col-auto">
            <input class="form-control" type="text" id="verification-search-box" name="verification-search-box">
        </div>
        <div class="col-auto">
            <button id="refresh-view-button" class="btn btn-info">Refresh</button>
        </div>
        <div class="col-auto">
            <button id="generate-report-button" class="btn btn-secondary">Generate Report</button>
        </div>
        <div class="col-auto">
            <a href="/bug-verifications/create" id="generate-report-button" class="btn btn-success">Add Verification</a>
        </div>
    </div>
</div>

<hr>

<div id='bug-verification-table-row' class="row">
    <table id="verification-table" class="table table-hover">
        <thead>
            <tr>
                <th style="width: 5%;" scope="col">ID</th>
                <th style="width: 35%;" scope="col">Summary</th>
                <th style="width: 10%;" scope="col">Reported</th>
                <th style="width: 10%;" scope="col">Fixed</th>
                <th style="width: 10%;" scope="col">Verified</th>
                <th style="width: 10%;" scope="col">Tag</th>
                <th style="width: 20%;" scope="col">Product</th>
            </tr>
        </thead>
        <tbody>
            {% for bug_verification in bug_verifications %}
            <tr class="verification-row" data-verification-id="{{ bug_verification.id }}">
                <td><a href="https://bugs.aquaveo.com/view.php?id={{ bug_verification.bug_id }}">{{ bug_verification.bug_id|stringformat:"05d" }}</a></td>
                <td>{{ bug_verification.summary }}</td>
                <td>{{ bug_verification.reported_date }}</td>
                <td>{{ bug_verification.fixed_date }}</td>
                <td>{{ bug_verification.verified_date }}</td>
                <td><span class="badge rounded-pill bg-category-pill">{{ bug_verification.category }}</span></td>
                <td>
                {% for product in bug_verification.products.all %}
                    <span class="badge rounded-pill bg-suite-pill">{{ product }}</span>
                {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}


{% block page_javascript %}
{% if user.is_authenticated %}<script src="{% static 'testportal/js/bug_verifications_general_view.js' %}"></script>{% endif %}
<script>
    $(document).ready(function() {
        $('#refresh-view-button').click(function() {

            href = '/bug-verifications?';
            href += 'start_day=' + $('#filter-start-date').val();
            href += '&end_day=' + $('#filter-end-date').val();

            if (parseInt($('#filter-category').val()) >= 0) {
                href += '&category=' + $('#filter-category option:selected').text();
            }
            if (parseInt($('#filter-product').val()) >= 0) {
                href += '&product=' + $('#filter-product option:selected').text();
            }

            window.location = href;
        });
        $('#generate-report-button').click(function() {

            if (parseInt($('#filter-product').val()) < 0) {
                alert('Please select a product to generate a report.');
                return;
            }

            href = '/bug-verifications/report/' + $('#filter-product option:selected').text() + '?';
            href += 'start_day=' + $('#filter-start-date').val();
            href += '&end_day=' + $('#filter-end-date').val();

            window.location = href;
        });     

        
    
        $("#verification-search-box").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#verification-table tr.verification-row").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
            localStorage.setItem('verification-search-value', value);
        });
         
        verification_search_value = localStorage.getItem('verification-search-value');
        if (verification_search_value != undefined) {
            $('#verification-search-box').val(verification_search_value);
            $('#verification-search-box').trigger('keyup');
        }   
    });
</script>

{% endblock %}