{% extends "core/layout.html" %}

{% block content %}
{% load static %}
{% load mathfilters %}

<div class="row">
    <div class="col">
        <h1>{{ name }}</h1>
    </div>
    <div class="col">
        <div style="float: right;" class="row g-3 align-items-right">
            <div class="col-auto">
                <button type="button" data-suite-id="{{ suite.id }}" data-bs-toggle="modal" data-bs-target="#upload-result-modal" id="upload-result-button" class="btn btn-sm btn-success">
                    <i class="bi-cloud-upload"> Upload Results</i>
                </button>
            </div>
            <div class="col-auto">
                <label for="result-date" class="form-lable">Search</label>
            </div>
            <div class="col-auto">
                <input class="form-control" type="text" id="test-search-box" name="test-search-box" placeholde="Test Name..">
            </div>
        </div>
    </div>
</div>

<table class="table table-bordered" id="dashboard-table">
    <thead>
        <tr>
            <th style="width: 300px;">Test <a id="add-test-button" style="float: right;" class="btn btn-success btn-sm" href='/test-cases/create'><i class="bi-plus"></i></a></th>
            {% for date in date_list %}
                <th style="width: 150px;">{{ date }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for row in dashboard_data %}
        <tr class="test-case-row" data-test-case-name="{{ row.test_case.name }}">
            <td id="test-case-name-{{ row.test_case.test_case_id }}" data-test-case-id="{{ row.test_case.id}}" class="test-case-name-dashboard-cell">{{ row.test_case.name }}</td>
            {% for date in date_list %}
            {% with result=row.test_results|get_item:date %}
            {% if result %}
                <td id="result-cell-id-{{ result.id }}" data-result-id='{{ result.id }}' class="test-result-dashboard-cell bg-{{ result.result}}">{{ result.result|format_result }}</td>
            {% else %}
                <td class="test-result-dashboard-cell bg-skipped">-</td>
            {% endif %}
            {% endwith %}
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if user.is_authenticated %}
<!-- Modal -->
{% include 'testportal/modals/add_test_case_modal.html' %}
{% include 'testportal/modals/update_test_case_modal.html' %}
{% include 'testportal/modals/update_test_result_modal.html' %}
{% include 'testportal/modals/upload_test_result_modal.html' %}
{% endif %}
{% endblock %}


{% block page_javascript %}
    {% if user.is_authenticated %}
        <script src="{% static 'testportal/js/dashboard_view.js' %}"></script>
    {% endif %}
{% endblock %}