{% extends "core/layout.html" %}

{% block content %}
{% load static %}
{% load mathfilters %}

<div class="row">
    <div class="col col-md-3">
        <h1>{{ suite.name }}</h1>
        <a href="/suites/{{ suite.name }}">Details</a>
    </div>
    <div class="col col-md-9 align-items-right">
        <div style="float: right;" class="row g-3 align-items-right">
            <div class="col-auto">
                <label for="result-days" class="form-lable">Days:</label>
            </div>
            <div class="col-auto">
                <input class="form-control" type="number" id="result-days" name="result-days" min="5" max="30" step="1" value="{{ number_of_days }}">
            </div>
            <div class="col-auto">
                <button id="update-shown-days-button" class="btn btn-info">Refresh</button>
            </div>
            <div class="col-auto form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="show-categories-switch">
                <label class="form-check-label" for="show-categories-switch">Show Categories(s)</label>
            </div>
            <div class="col-auto">
                {% if user.is_authenticated %}
                <button type="button" data-suite-id="{{ suite.id }}" data-bs-toggle="modal" data-bs-target="#upload-result-modal" id="upload-result-button" class="btn btn-sm btn-success">
                    <i class="bi-cloud-upload"> Upload Results</i>
                </button>
                {% endif %}
            </div>
            <div class="col-auto">
                <label for="result-date" class="form-lable">Search</label>
            </div>
            <div class="col-auto">
                <input class="form-control" type="text" id="test-search-box" name="test-search-box" placeholder="Test Name..">
            </div>
        </div>
    </div>
</div>
<table class="table table-bordered" id="dashboard-table" data-suite-name='{{ suite.name }}' data-current-user-id={{ user.id }} data-current-user="{% if user %}{{ user.id }}{% else %}anonymous{% endif %}">
    <thead>
        <tr>
            <th style="width: 300px;">Test {% if user.is_authenticated %}<a id="add-test-button" style="float: right;" class="btn btn-success btn-sm" href='/test-cases/create'><i class="bi-plus"></i></a>{% endif %}</th>
            <th style="display: none;" class="test-dashboard-category-column">Categories(s)</th>
            {% for date in date_list %}
                <th class='dashboard-date-cell' data-date='{{ date.month }}-{{ date.day }}-{{ date.year }}' style="width: 150px;">{{ date }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for row in dashboard_data %}
        <tr class="test-case-row{% if row.test_case.status == 'under-construction' %} test-case-row-under-construction{% elif row.test_case.status == "needs-review" %} test-case-row-needs-review{% endif %}" data-test-case-id={{ row.test_case.id }} data-test-case-name="{{ row.test_case.name }}">
            <td id="test-case-name-{{ row.test_case.test_case_id }}"data-test-case-id="{{ row.test_case.id}}" class="test-case-name-dashboard-cell">
            {{ row.test_case.name }}{% if row.test_case.status == 'under-construction' %}<i title="Under Construction" class="h4 bi bi-cone-striped"></i>{% endif %}{% if row.test_case.status == "needs-review" %}<i title="Needs Review" class="h4 bi bi-exclamation-triangle"></i>{% endif %}
            </td>
            <td style="display: none;" class="test-dashboard-category-column"><span class="badge rounded-pill bg-category-pill">{{ row.test_case.category }}</span><span class="badge rounded-pill bg-subcategory-pill">{{ row.test_case.subcategory }}</span></td>
            {% for date in date_list %}
            {% with result=row.test_results|get_item:date %}
            {% if result %}
                {% if result.bug_id %}
                <td title="{{ result.note }}" id="result-cell-id-{{ result.id }}" data-result-id='{{ result.id }}' data-result-date='{{ date.year }}-{{ date.month|stringformat:"02d" }}-{{ date.day|stringformat:"02d" }}' class="test-result-dashboard-cell bg-bug"><a class='bug-link' target='_blank' href='https://bugs.aquaveo.com/view.php?id={{ result.bug_id }}'>BUG-{{ result.bug_id }}</td>
                {% else %}
                <td title="{{ result.note }}" id="result-cell-id-{{ result.id }}" data-result-id='{{ result.id }}'data-result-date='{{ date.year }}-{{ date.month|stringformat:"02d" }}-{{ date.day|stringformat:"02d" }}' class="test-result-dashboard-cell bg-{{ result.result}}">{{ result.result|format_result }}</td>
                {% endif %}
            {% else %}
                <td class="no-result-dashboard-cell bg-skipped" data-result-date='{{ date.year }}-{{ date.month|stringformat:"02d" }}-{{ date.day|stringformat:"02d" }}'>-</td>
            {% endif %} 
            {% endwith %}
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if user.is_authenticated %}
<!-- Modal -->
{% include 'testportal/modals/update_test_result_modal.html' %}
{% include 'testportal/modals/upload_test_result_modal.html' %}
{% include 'testportal/modals/duplicate_suite_modal.html' %}
{% endif %}
{% endblock %}


{% block page_javascript %}
    {% if user.is_authenticated %}
        <script src="{% static 'testportal/js/dashboard_view.js' %}"></script>
    {% endif %}
    <script>
    $("#test-search-box").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#dashboard-table tr.test-case-row").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
        localStorage.setItem('dashboard-search-value', value);
    });
    
    $('.test-case-name-dashboard-cell').dblclick(function() {
        var test_case_id = this.dataset.testCaseId;
        var test_case_url = `/test-cases/${test_case_id}/update`;
        window.location.href = test_case_url;
    });

    $('#show-categories-switch').change(function() {
        if (this.checked) {
            $('.test-dashboard-category-column').show();
            localStorage.setItem('dashboard-show-categories', true);
        } else {
            $('.test-dashboard-category-column').hide();
            localStorage.setItem('dashboard-show-categories', false);
        }
    });

    $('#update-shown-days-button').click(function() {
        window.location.href = '/suites/{{ suite.name }}/dashboard?num_days=' + $('#result-days').val();
    });

    $(document).ready(function() {
        dashboard_search_value = localStorage.getItem('dashboard-search-value');
        if (dashboard_search_value != undefined) {
            $('#test-search-box').val(dashboard_search_value);
            $('#test-search-box').trigger('keyup');
        }

        $('#show-categories-switch').prop("checked", localStorage.getItem('dashboard-show-categories') =='true');
        $('#show-categories-switch').trigger('change');
    });

    </script>
{% endblock %}