{% extends "core/layout.html" %}
{% load static %}

{% block content %}

<main>

    <div class="row">
        <h1>{{ suite.name }}</h1>
        <a href="/suites/{{ suite.name }}/dashboard">Dashboard</a>
    </div>
    <div class="row">
        <div class="col-md-5 col-lg-5">
            <div style="height: 100%" id="suite-info-card" data-authenticated='{{ user.is_authenticated }}' class="card">
                <div class="card-header">
                    Suite Info
                </div>
                <div class="card-body">
                    <div class="row">
                        <p><strong>Name: </strong>{{ suite.name }}</p>
                        <p><strong>Active: </strong>{{ suite.active }}</p>
                        <p><strong>Description: </strong>{{ suite.description }}</p>
                        <p><strong>Total Cases: </strong>{{ test_cases | length }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-lg-7 order-md-last">
            <div style="height: 100%" id="suite-data-card" class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" id="suite-data-category-tab" data-bs-toggle="tab" data-bs-target="#suite-data-category-content" type="button" role="tab">Category</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="suite-data-status-tab" data-bs-toggle="tab" data-bs-target="#suite-data-status-content" type="button" role="tab">Status</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="suite-data-result-tab" data-bs-toggle="tab" data-bs-target="#suite-data-result-content" type="button" role="tab">Result</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="suite-data-type-tab" data-bs-toggle="tab" data-bs-target="#suite-data-type-content" type="button" role="tab">Type</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="tab-content" id="suite-data-content">
                            <div class="tab-pane fade show active" id="suite-data-category-content" role="tabpanel" aria-labelledby="suite-data-category-tab">
                                <div id="suite-data-category-display-div" style="width 100%;"></div>
                            </div>
                            <div class="tab-pane fade" id="suite-data-status-content" role="tabpanel" aria-labelledby="suite-data-status-tab">
                                <div id="suite-data-status-display-div" style="width 100%;"></div>
                            </div>
                            <div class="tab-pane fade" id="suite-data-result-content" role="tabpanel" aria-labelledby="suite-data-result-tab">
                                <div id="suite-data-result-display-div" style="width 100%;"></div>
                            </div>
                            <div class="tab-pane fade show" id="suite-data-type-content" role="tabpanel" aria-labelledby="suite-data-type-tab">
                                <div id="suite-data-type-display-div" style="width 100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="width: 10%">ID</th>
                    <th style="width: 30%">Title</th>
                    <th style="width: 20%">Type</th>
                    <th style="width: 20%">Status</th>
                    <th style="width: 20%">Last Result</th>
                </tr>
            </thead>
            <tbody>
                {% for test_case in test_cases %}
                <tr>
                    <td>
                        <a href="/test-cases/{{ test_case.test_case.id }}">{{test_case.test_case.test_case_id }}</a>
                    </td>
                    <td>{{ test_case.test_case.name }}</td>
                    <td>{{ test_case.test_case.test_type }}</td>
                    <td>{{ test_case.test_case.status }}</td>
                    <td>
                        {% if test_case.result %}<div {% if test_case.result.note %}title="{{ test_case.result.note }}"{% else %}title="no details provided..."{% endif %}><span style="width: 90px;" class="badge rounded-pill bg-{{ test_case.result.result|lower }}">{{ test_case.result.result }}</span></div>{% else %}<div><span style="width: 90px;" class="badge rounded-pill bg-skipped">no result</span>{% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div style="display: none;">
    {{ type_counts.keys }}
    {{ status_counts.values }}
    {{ result_counts }}
    </div>
</main>

{% endblock %}



{% block page_javascript %}
    <script src="{% static 'testportal/js/suite_detail_view.js' %}"></script>
    <script>
var result_plot_div = document.getElementById('suite-data-result-display-div');
var type_plot_div = document.getElementById('suite-data-type-display-div');
var status_plot_div = document.getElementById('suite-data-status-display-div');
var status_plot_div = document.getElementById('suite-data-category-display-div');

// Plot Layout
var layout = {
    height: 300,
    margin: {"t": 0, "b": 0, "l": 0, "r": 0},
    texttemplate: '%{label}: %{value}',
}

// Type Plot
var type_layout = Object.create(layout);
type_layout.values = [{% for v in type_counts_values %}{{ v }},{% endfor %}];
type_layout.labels = [{% for k in type_counts_keys %}"{{ k }}",{% endfor %}];
type_layout.type = 'pie';
Plotly.newPlot('suite-data-type-display-div', [type_layout]);

// Status Plot
var status_layout = Object.create(layout);
status_layout.values = [{% for v in status_counts_values %}{{ v }},{% endfor %}];
status_layout.labels = [{% for k in status_counts_keys %}"{{ k }}",{% endfor %}];
status_layout.type = 'pie';
Plotly.newPlot('suite-data-status-display-div', [status_layout]);

// Result Plot
var result_layout = Object.create(layout);
result_layout.values = [{% for v in result_counts_values %}{{ v }},{% endfor %}];
result_layout.labels = [{% for k in result_counts_keys %}"{{ k }}",{% endfor %}];
result_layout.type = 'pie';
Plotly.newPlot('suite-data-result-display-div', [result_layout]);

// Category Plot
var category_layout = Object.create(layout);
category_layout.values = [{% for v in category_counts_values %}{{ v }},{% endfor %}];
category_layout.labels = [{% for k in category_counts_keys %}"{{ k }}",{% endfor %}];
category_layout.type = 'pie';
Plotly.newPlot('suite-data-category-display-div', [category_layout]);

    </script>
{% endblock %}
