{% extends "core/layout.html" %}
{% load static %}

{% block content %}

<h1>{{ test_plan.name }}{% if user.is_authenticated %}  <a class="btn btn-sml btn-success" href="/test-plans/{{ test_plan.id }}/update">Edit</a>{% endif %}</h1>

<nav>
<ul class="nav nav-tabs" id="nav-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="test-plan-details-tab" data-bs-toggle="tab" data-bs-target="#test-plan-details-content" type="button" role="tab">Details</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="test-plan-test-cases-tab" data-bs-toggle="tab" data-bs-target="#test-plan-test-cases-content" type="button" role="tab">Test Cases</button>
  </li>
</ul>
</nav>


<div class="tab-content" id="test-plan-tab-content">
    <div class="tab-pane fade show active" id="test-plan-details-content" role="tabpanel" aria-labelledby="test-plan-details-tab">
        <br/>
        <div class="mb-3">
            <h2>Suite:</h2>
            <p>{{ test_plan.suite }}</p>
        </div>
        <div class="mb-3">
            <h2>Description:</h2>
            <p>{{ test_plan.description | markdown | safe }}
        </div>
        <div class="mb-3">
            <h2>Developers:</h2>
            <p>{{ test_plan.developers | markdown | safe }}</p>
        </div>
        <div class="mb-3">
            <h2>Features to Test:</h2>
            <p>{{ test_plan.features_to_test | markdown | safe }}</p>
        </div>
        <div class="mb-3">
            <h2>Notes:</h2>
            <p>{{ test_plan.notes | markdown | safe }}</p>
        </div>
    </div>

    <div class="tab-pane fade" id="test-plan-test-cases-content" role="tabpanel" aria-labelledby="test-plan-test-cases-tab">   
        <br/> 
        <a href='/test-cases/create' class='btn btn-dark' id='add-test-case-to-test-plan-button'><i class="bi-plus"></i> Add Test Case</a>    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="width: 10%;">ID</th>
                    <th style="width: 30%;">Name</th>
                    <th style="width: 30%;">Type</th>
                    <th style="width: 15%;">Status</th>
                    <th style="width: 15%;"></th>
                </tr>
            </thead>
            <tbody>
            {% for test_case in test_cases %}
                <tr class="test-plan-test-case-row" data-test-case-id="{{ test_case.id }}" data-test-case-name="{{ test_case.name }}">
                    <td>{{ test_case.test_case_id }}</td>
                    <td>{{ test_case.name }}</td>
                    <td>{{ test_case.test_type }}</td>
                    <td>{{ test_case.status }}</td>
                    <td>
                        <a class="btn btn-success" href="/test-cases/{{ test_case.id }}" title="edit">
                            {% if user.is_authenticated %}
                            <i class="bi-pencil"></i>
                            {% else %}
                            <i class="bi-eye"></i>
                            {% endif %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}



{% block page_javascript %}
    {% if user.is_authenticated %}
        <script src="{% static 'testportal/js/test_plan_detail_view.js' %}"></script>
    {% endif %}
{% endblock %}
