{% extends "core/layout.html" %}

{% block content %}

<form id="test-case-form" style="width: 100%;" class="update-model-form form" method="post"> 
    {% csrf_token %} 
    {{ form.as_p }} 
    <input name="referrer" id="id_referrer" type="hidden" value="{{ referrer }}">
    <input class="btn btn-success" type="submit" value="Save"> 
</form> 
<br>
<div style="width: 100%; color: white;" class="btn btn-info" value="Test Message to Clipboard" id="copy-error-to-clipboard-button">Copy message to clipboard...</div>

{% endblock %}

{% block page_javascript %}
<script>
    $(document).ready(function() {
        $('#copy-error-to-clipboard-button').click(function() {
            navigator.clipboard.writeText('<span style="color:red">**Message goes here**</span>.');
        });
    });
</script>
{% endblock %}