{% extends "core/layout.html" %}
{% load static %}

{% block content %}

<main>

    <div class="row">
        <h1>{{ test_case.name }}{% if user.is_authenticated %}  <a class="btn btn-sml btn-success" href="/test-cases/{{ test_case.id }}/update">Edit</a>{% endif %}</h1>
    </div>
    <div class="row">
        <div class="col-md-7 col-lg-8">
            <p>
                <span class="badge bg-pass">Pass</span>
                <span class="badge rounded-pill bg-test-id">{{ test_case.test_case_id }}</span>
                <span class="badge rounded-pill bg-suite-pill">{{ test_case.suite }}</span>
                {% if test_case.under_construction %}
                    <span class="badge rounded-pill bg-in-documentation">Under Construction</span>
                {% endif %}
                {% if test_case.needs_review %}
                    <span class="badge rounded-pill bg-needs-review">Needs Review</span>
                {% endif %}
                {% if test_case.category.category != "Undefined" %}
                    <span class="badge rounded-pill bg-category-pill">{{ test_case.category }}</span>
                {% endif %}
                {% if test_case.subcategory.subcategory != "Undefined" %}
                    <span class="badge rounded-pill bg-subcategory-pill">{{ test_case.subcategory }}</span>
                {% endif %}
                {% for tag in tags %}
                    <span class="badge rounded-pill bg-secondary">{{ tag }}</span>
                {% endfor %}
            </p>
            <div id="test-info-card" class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <strong>Type: </strong> {{ test_case.test_type }}
                        </div>
                        <div class="col">
                            <strong>Status: </strong> {{ test_case.status }}
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div id="test-step-card" class="card">
                <div class="card-header">Steps</div>
                <div class="card-body">
                    <p>{{ test_case.steps| markdown | safe }}<p>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-lg-4 order-md-last">
            <div id="issue-section" style="display: none;">
                <button id="add-issue-button" style="width: 100%; padding: 10px;" class="btn btn-dark">
                    <i class="bi-plus-circle"> Add Issue</i>
                </button>
                <p />
                <div id="test-issues-card" class="card">
                    <div class="card-header">Issues:</div>
                    <div class="card-body">
                        <a href='/issues/1'><span style="width: 90px;" class="badge rounded-pill bg-issue">IS-00001</span></a> Problem doing something
                        <br/>
                        <a href='/issues/2'><span style="width: 90px;" class="badge rounded-pill bg-bug">BG-34567</span></a> Crash when doing this
                        <br/>
                    </div>
                </div>
            </div>
            <br/>
            <div id="result-section">
                {% if user.is_authenticated %}
                <a style="width: 100%; padding: 10px;" class="btn btn-success" href='/test-results/create'>
                    <i class="bi-plus-circle"> Add Result</i>
                </a>
                {% endif %}
                <p />
                <div id="test-issues-card" class="card">
                    <div class="card-header">Recent Results:</div>
                    <div class="card-body">
                        {% for result in recent_results %}
                        <div {% if result.note %}title="{{ result.note }}"{% endif %}><a href='/test-results/{{ result.id }}'><span style="width: 90px;" class="badge rounded-pill bg-{{ result.result|lower }}">{{ result.result }}</span></a> - {{ result.result_date }}{% if result.note %} - {{ result.note }}{% endif %}</div>
                        <br/>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}



{% block page_javascript %}
    {% if user.is_authenticated %}
        <script src="{% static 'testportal/js/test_case_detail_view.js' %}"></script>
    {% endif %}
{% endblock %}
